@font-face {
    font-family: 'Seasons_r';
    src: url('/fonts/Demo_Fonts/Fontspring-DEMO-theseasons-reg.otf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Satoshi_v';
    src: url('/fonts/Satoshi/TTF/Satoshi-Variable.ttf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Bebas';
    src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  .group:hover {
    filter: drop-shadow(0px 0px 30px rgba(215, 159, 24, 1));
}


@tailwind base;
@tailwind components;
@tailwind utilities;